.Board{
   display: flex;
   width: 80%;
   height: 100vh;
   flex-direction: column;
   padding: 0 20px;
   justify-content: space-around;
}
.herosection{
    display: flex;
    /* justify-content: space-evenly; */
    height: 80%;
    /* overflow-x: scroll;
    
    overflow-y: hidden; */
    display: flex;
    gap: 5%;
    overflow-y: hidden;
    overflow-x: scroll;
  


}

.containerr{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10%;
    height: 15%;
}
.containerrr{
    display: flex;
    justify-content: space-between;
    /* padding: 0 5%; */
    font-weight: 500;
    height: 50%;
    align-items: center;
}
.date {
    color:#707070;
}
.datee{
    border: none;

}
.datee::selection{
    border: none;

}