.taskdata{
    background-color: #ffff;
    max-width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin: 20px 0;
}
.box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}